{{ if .Site.Params.enableSocials }}
    {{ with .Site.Data.Socials }}
        <ul class="socials">
            {{- range sort .socials "weight" -}}
                <li class="socials-item">
                    {{/* --- 修改开始 --- */}}
                    {{- $isMailto := strings.HasPrefix .url "mailto:" -}}
                    <a href="{{ .url | safeURL }}" title="{{ .title }}"{{ if not $isMailto }} target="_blank" rel="external noopener"{{ end }}>
                    {{/* --- 修改结束 --- */}}
                        {{- partial "utils/icon.html" (dict "$" $ "name" .icon "class" "social-icon") -}}
                    </a>
                </li>
            {{- end -}}
        </ul>
    {{ end }}
{{ end }}