<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">{{ site.author | escape }}</li>
          {% if site.email %}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {% if site.social_links %}
        <ul class="social-icons">
          {% for item in site.social_links %}
            <li>
              <a href="{{ item[1] }}" target="_blank" rel="noopener noreferrer" title="{{ item[0] }}">
                <svg class="svg-icon">
                  <use xlink:href="{{ '/assets/minima-social-icons.svg#' | append: item[0] | relative_url }}"></use>
                </svg>
              </a>
            </li>
          {% endfor %}
        </ul>
        {% else %}
          {% include social.html %}
        {% endif %}
      </div>

    <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
        {% if site.copyright %}
          <p style="margin-top:1em;color:#888;font-size:0.92em;">{{ site.copyright }}</p>
        {% endif %}
        {% if site.icp %}
          <p style="margin:0;color:#888;font-size:0.92em;">{{ site.icp }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</footer>