// _sass/_custom.scss
@charset "utf-8";

body {
  background-color: #0d1117 !important;
  color: #c9d1d9 !important;
}

a {
  color: #2a7ae2 !important;
}

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}