{{/*
    这是一个自定义的头部模板。
    这个版本将网站标题从一个可点击的链接，
    改为一个不可点击的纯文本。
*/}}
<header class="header header-flex">
    <div class="header-wrapper">
        <div class="header-inner">
            <div class="site-brand-container">
                {{/* 关键改动：将 a 标签换成了 span 标签 */}}
                <span class="brand">
                    {{ .Site.Title }}
                </span>
            </div>
            {{/* 正确地调用我们已经修改好的 menu.html */}}
            {{ partial "menu.html" . }}
        </div>
    </div>
    {{/* 移动端导航的“汉堡菜单”按钮 */}}
    {{- if .Site.Params.enableNavToggle -}}
        {{ partial "components/nav-toggle.html" . }}
    {{- end -}}
</header>
